:root {
    --laber-bgr-color: #000000;
    --social-footer-color: rgba(255, 255, 255, 0.6);
    --bgc-fotos: rgba(47, 48, 58, 0.8);
    --logo-second-color: #ffffff;
    --logo-first-color: #2196F3;
    --tatle-text-color: #212121;
    --dark-bg-color: #2F303A;
    --section-color: #E5E5E5;
    --section-bg-our-work: #F5F4FA;
    --section-mail-color: #757575;
    --focus-color: #EEEEEE;
    --icon-color: #AFB1B8;
    --icon-second-color: #44454E;
    --cubic: cubic-bezier(0.4,0,0.2,1);
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
font-family: "Roboto" , sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
margin: 0;
/* padding-top: 80px; */
background-color: var(--logo-second-color);
}
.footer {
    background: var(--dark-bg-color);
}
.header {
    background-color: var(--logo-second-color);
    /* чтоб хедер был закреплен при скроле */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */

}
.conteiner {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid rebeccapurple; */
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    
}    
a {
    text-decoration: none;
}

main {
    background-color: var(--logo-second-color);
}
.crouven {
color: var(--logo-first-color);
}
.crouven::after {
    content: "";
    right: 0;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--logo-first-color);

}
/* .crouven::after:hover {
    background-color: var(--logo-first-color);
} */
.section-our-team {
    background-color: var(--section-bg-our-work);
}
.logo {
text-decoration: none;
margin-right: 93px;
}

.logo-first-color {
    color: var(--logo-first-color);    
    font-family: "Raleway" , sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.19;
    line-height: 100%;
    align: Left;
    vertical-align: Top;
    letter-spacing: 3%;
}
.logo-second-color {
color: var(--laber-bgr-color);
font-family: "Raleway" , sans-serif;
font-style: 700;
font-size: 26px;
line-height: 1.19;
line-height: 100%;
align: Left;
vertical-align: Top;
letter-spacing: 3%;
/* font-style: 500;
font-size: 26px;
line-height: 1.2;
line-height: 100%;
vertical-align: top;
letter-spacing: 3%; */
}

.list-link {
    display: block;
    color: var(--tatle-text-color);
    text-decoration: none;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
padding-top: 32px;
padding-bottom: 32px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.list-nav {
    display: flex;
}
.nav {
    display: flex;
    align-items: center;
    
}
.list-nav .item {
    position: relative;
}
.list-nav .item:not(:last-child) {
    margin-right: 50px;
}

.list-link:hover,.list-link:focus {
    color: var(--logo-first-color);
}
.list-first:hover {
    color: var(--logo-first-color);
}
.list-first {
color: var(--section-mail-color);
text-decoration: none;
/* margin-left: 1130px;
margin-bottom: ;
padding: 5px; */
/* border-color: var(--logo-first-color); */
display: flex;
align-items: center;
justify-content: center;
transition:color 250ms cubic-bezier(0.4,0,0.2,1);
}

.list-mail {
display: flex;
margin-left: auto;

}
.itemm {


}
/* .list-first:hover .icon {
    color: var(--logo-first-color);
} */
.itemm .icon-mail {
    width: 12px;
    height: 16px;
    fill: currentColor;
    align-items: center;
    margin-right: 10px;
}   


/* .mail::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/png-svg/envelope.png);
} */

/* .tel::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-left: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/png-svg/envelope.png);
} */

.list-mail .itemm + .itemm {
    margin-left: 50px;
}
.header-nav {
    display: flex;
    align-items: center;
    /* padding-top: 22px;
    padding-bottom: 22px;    */
}

                 /* huro */

.section-huro { 
    background-image:linear-gradient(
        to right ,rgba(0, 0 ,0 ,0.4) ,rgba(0, 0 ,0,0.4)), 
    url(../images/huro.jpg);
    background-color: var(--dark-bg-color);
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    text-align: center;
    /* height: 600px; */
    max-width: 1600px;

}
.huro {
margin-right: auto;
margin-left: auto;
padding: 200px 150px;
}
.huro > .title {
    margin-bottom: 28px;
}
.section-huro .title {
 color: var(--logo-second-color);
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
}
.button-backdrop {
    position: absolute;
    top: 0;
    right: 0;
 width: 30px;
 height: 30px;
display: flex;
justify-content: center;
align-items: center;
 cursor: pointer;
 border-radius: 50%;
 border: 1px solid rgba(0, 0, 0, 0.1);
 margin-right: 8px;
 margin-top: 8px;

}
.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    opacity: 1;
    transition:opacity 250ms var(--cubic);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
    
}
.modal {
    z-index: 999;
    min-width: 528px;
    min-height: 581px;
    background-color: rgb(245, 244, 244);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic);
    
}

.button[type="button"] {
    color: var(--logo-second-color);
    background-color: var(--logo-first-color);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1.9;
letter-spacing: 0.06em;
cursor: pointer;
padding: 10px 32px;
min-width: 200px;
border: 1px solid transparent;
/* opacity: 0; */
}
/* .button:hover {
    opacity: 1;
} */
            /* second section */
.title-fotos {
    display: flex;
}
.fotos-item {
    display: flex;
    margin-bottom: 94px;
    
}
.text-fotos {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 27px 86px;
    background-color: var(--bgc-fotos);
    color: var(--logo-second-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: center;

}
.fotos-icon {
    margin-right: 30px;
    position: relative;
    width: calc(100% / 3);
    z-index: 1;    
}
.fotos-icon:nth-child(3) {
    margin-right: 0;
    
}
                /* second section */
.title-small {
    display: flex;
    text-align: left;

    margin-top: 50px;
    margin-bottom: 94px;
}
.page {
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.7;
color: var(--tatle-text-color);

}
.small-item {
    width:calc((100% - 30px * 3) / 4);
    margin-right: 30px;


}
.small-item::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 10px;
    background-color: var(--section-bg-our-work);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}
.small-item:nth-child(1)::before {

 background-image: url(../images/png-svg/antenna\ 1.png);
}
.small-item:nth-child(2)::before {
    background-image: url(../images/png-svg/clock1.png);
   }
.small-item:nth-child(3)::before {
    background-image: url(../images/png-svg/diagram1.png);
   }
.small-item:nth-child(4)::before {
    background-image: url(../images/png-svg/astronaut\ 1.png);
   }
.small-icon {
    display: flex;

}
/* .box {
    height: 100px;
    width: 270px;
    border: 1px solid red;
    margin-right: 30px;
} */
/* .box:nth-child(1) {
background-image: url(../images/png-svg/antenna\ 1.png);
background-color: var(--section-mail-color);
background-repeat: no-repeat;
background-position: center;
}
.box:nth-child(2) {
    background-image: url(../images/png-svg/astronaut\ 1.png);
    background-color: var(--section-mail-color);
    background-repeat: no-repeat;
    background-position: center;
}
.box:nth-child(3) {
    background-image: url(../images/png-svg/clock1.png);
    background-color: var(--section-mail-color);
    background-repeat: no-repeat;
    background-position: center;
}
.box:nth-child(4) {
    background-image: url(../images/png-svg/diagram1.png);
    background-color: var(--section-mail-color);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
} */
/* .small-item:nth-child(1)::before {
content: "";
display: block;
height: 30px;
background-color: #2196F3;
}
.small-item:nth-child(2){

}
.small-item:nth-child(3){

} */
.small-item:nth-child(4) {
    margin-right: 0;
}
.title-list {
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
color: var(--tatle-text-color);
margin-bottom: 10px;
text-transform: uppercase;
}
.impotent {
    display: none;
}
                /* section three huro */
.title {
    color: var(--tatle-text-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    
}

.section-fotos .title {
    margin-bottom: 50px;
}
.name {
    color: var(--tatle-text-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.9;
margin-top: 25px;
margin-bottom: 5px;

}
.conteiner-second {
   margin-bottom: 10px;
}
.name-proffesion {
    color: var(--section-mail-color);
font-size: 16px;
font-weight: 400;
line-height: 1.9;
}
.item-team {
    display: flex;
    justify-content: center;
    padding-bottom: 124px;
}
.section-our-team .title {
    padding-top: 94px;
    padding-bottom: 50px;
}
.icon-team:nth-child(4n) {
    margin-right: 0;
}
.icon-team {
     margin-right: 30px;
     border: 1px solid var(--focus-color);
     background-color: var(--logo-second-color);
     box-shadow: 2px 2px 4px 1px var(--section-mail-color);
}
.item-our-team:not(:last-child) {
    margin-right: 10px;
}
/* .item-our-team {
    width: calc((100% - 10px *3) / 4);
} */
.link-team {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.link-team:hover .icon-our-team,
.link-team:focus .icon-our-team {
    fill: var(--logo-second-color);
}
.link-team:hover {
    background-color: var(--logo-first-color);

}

.title-team .icon-our-team {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.title-team {
    display: inline-flex;
    margin-bottom: 30px;
}


                /* ПОстоянные клиенты */


.clients .title {
    color: var(--tatle-text-color);
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
margin-top: 94px;
margin-bottom: 50px;
border-radius: 2px solid red;
}
.icon-clients {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    transition:fill 250ms cubic-bezier(0.4,0,0.2,1);
    
}
.link-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    
}
.item-clients:hover .icon-clients,
.item-clients:focus .icon-clients {
    fill: var(--logo-first-color);

}
.item-clients:not(:last-child) {
    margin-right: 30px;

}
.item-clients { 
    outline: 2px solid var(--icon-color);
}
.item-clients:hover {
    outline: 2px solid var(--logo-first-color);
}
.title-clients {
    display: inline-flex;
    margin-bottom: 94px;
}
/* .icon-team::after {
    content: "";
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: red;
    background-image: url(../images/png-svg/antenna\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;   
    border-radius: 50px; 
} */

                    /* footer */
.address {
    color: var(--logo-second-color);
font-size: 14px;
font-weight: 400;
line-height: 1.7;
/* margin-top: 20px;
margin-bottom: 5px; */
}
.inform {
    color: var(--social-footer-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
.foot {
    text-align: left;
    display: flex;
}
.footer-logo {

 margin-bottom: 20px;
}
.footer-item {
    margin-bottom: 9px;
}
.footer-item:nth-child(3) {
    margin-bottom: 45px;
}
.section-footer .title {
color: var(--logo-second-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: left;
margin-bottom: 20px;
}
.section-footer {
   margin-top: 75px; 

}
.conteiner-three {
    margin-top: 75px;
    /* margin-right: 70px; */
}
/* .footer-icon {
text-align: center;
} */
.link-team-footer {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--icon-second-color);
    transition:background-color 250ms cubic-bezier(0.4,0,0.2,1);
    
    
}
/* .icon-our-team {
    fill: transparent;
    transition:fill 250ms cubic-bezier(0.4,0,0.2,1);
} */
.link-team-footer:hover .icon-our-team,
.link-team-footer:focus .icon-our-team {
 fill: var(--logo-second-color);
}
.link-team-footer:hover,
.link-team-footer:focus {
    background-color:var(--logo-first-color) ;
}
.conteiner .wight{
    flex-basis: calc((50% - 45px) / 2);
    justify-content: space-between;
}
                /* portfoloi */

.button-portfolio {
font-size: 16px;
font-weight: 500;
line-height: 1.6;
text-align: center;
cursor: pointer;
color: var(--tatle-text-color);
background-color: var(--section-bg-our-work);
border-radius: 4px;
display: block;
padding: 10px 20px;
border: 1px solid transparent;
transition:background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--logo-first-color);
}
.button-portfolio:focus {
        border: 1px solid #737373;
}

.title-portf {
    color: var(--tatle-text-color);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
}
.list-portf + li{
    text-decoration: none;
}
.title-portf + p{
color: var(--section-mail-color);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.9;
}
.list-link.carrent {
    color: var(--logo-first-color);
}

.item-portf {
    display: flex;
margin-top: 94px;
margin-bottom: 50px;
justify-content: center;
}
.icon-works {
    margin-right: 8px;
}
.icon-works:nth-child(5) {
    margin-right: 0;
}
.info-portf {  
    padding: 20px 15px;
    text-align: left;
    border: 1px solid var(--focus-color);
}
.list-portf {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
    /* perspective: 800px; */

}
.pesr {
    /* perspective: 400px; */
}
.list-portf > .portf-item {
    margin-bottom: 30px;
    margin-right: 30px;
    width: calc((100% - 30px * 2) / 3);
    border: 1px solid var(--focus-color);
    /* transform: rotateY(45deg); */
    }
.thumb-text {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;    
    padding: 63px 24px;
    background-color: rgba(33, 149, 243, 0.9);
    color: var(--logo-second-color);
    transition:opacity 250ms cubic-bezier(0.4,0,0.2,1),
    transform 250ms cubic-bezier(0.4,0,0.2,1);
    transform: translateY(100%);
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.03em;
text-align: left;
}
.portf-item:hover .thumb-text {
    opacity: 1;
    transform: translateY(0%);
}
.portf-item:hover .info-portf {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.18); 
}
.portf-icon {
    
}
.thumb {
    position: relative;
    overflow: hidden;
}

/* .thumb::before {
    content: "Ресурс предлагает комплексные предложения с разным уровнем функционала и сервисов. Все это позволит посетителю получить исчерпывающие сведения о компании или частном лице.";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;    
    padding: 63px 24px;
    color: #000000;
    background-color: rgba(33, 149, 243, 0.9);
    color: var(--logo-second-color);
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.03em;
text-align: left;

} */
/* .portf-icon:hover .thumb::before {
    opacity: 1;
} */

/* .thumb:hover:before {
    opacity: 1;
} */


.portf-item:nth-child(3n) {
    margin-right: 0;
}
.portf-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
